<div class="main-content">
    <div class="announcements">  
        <h4>PARKING ANNOUNCEMENTS: </h4>
        <!-- Your announcements here -->
    </div>
    <div class="container">
        <form class="form-container">
            <div class="input-group">
                <input type="text" id="UserName" placeholder="User Name" required>
                <input type="password" id="password" placeholder="Password" required>
                <button type="submit" class="login-btn">Log In</button>
            </div>
        </form>
    </div>
</div>
